@charset "UTF-8";
.border { border : 1px solid red;}
	.center { margin : 0 auto; }
	* {box-sizing: border-box;}
	
	#Resign-main {
		position: absolute;
	    width: 600px;
	    height: 600px;
	    padding: 0px 250px;
	    border: 1px solid black;
	    z-index: 10;
	    background: white;
	    display: none;
	    transform: translate(50px, -50px);
	    justify-self: anchor-center;
	    top: 20%;
	}
	
	#Resign-main > h2 {
		justify-self: center;
	    width: 500px;
	    height: 100px;
	    margin-top: 70px;
	}
	#Resign-main > div:nth-child(2) {
		margin-left: -200px;
	}
	#Resign-main > div:nth-child(5){
		justify-self: center;
	}
	#Resign-text,#Resign-pw {
		padding: 0px 5px;
		width: 500px;
    	height: 50px;
    	margin-bottom: 30px;
    	font-size: 15px;
	}
	#Resign-main > div:nth-child(6) {
		display: flex;
	    width: 500px;
	    margin-top: 50px;
	    gap: 150px;
    	justify-self: center;
	}
	#Resign-main > div:nth-child(6) > button {
		width: 180px;
		height: 40px;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 12px;
	    border: 1px solid #C0C0C0;
		border-radius: 15px;
	    background-color: white;
		cursor: pointer;
	}
	#Resign-main > div:nth-child(6) > button:hover {
		background-color: #C0C0C0;
	}
	#bg-screen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		z-index: 5;
		display:none;
	}